.dropdown__menu {
    position: absolute;
    list-style-type: none;
    margin: 1px 0;
    padding: 6px;
    background-color: white;
    border: 1px solid #1c1c1c;
    border-radius: 7px;
    width: 120px;
}
.dropdown__menu > li {
    margin: 0 0 5px 0;
    background-color: transparent;
    &:hover {
        background-color: lightgray;
    }
}

.dropdown__menu > li > button {
    display: flex;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    justify-content: center;
}

@media (max-width: 500px) {
    .dropdown__menu {
        position: absolute;
        right: 1%;
        list-style-type: none;
        margin: 1px 0;
        padding: 6px;
        background-color: white;
        border: 1px solid #1c1c1c;
        border-radius: 7px;
        width: 120px;
    }
}
.dropdown__menu_dark {
    background: #444444;
    color: #e3e3e1;
    & > li:hover {
        background-color: #0E1111;
    }
}



